---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="max-w-5xl mx-auto p-6">
        <section class="text-center">
            <h2>me@matthuesman.com</h2>
        </section>
    </main>
</Layout>